*.dat
*.dat2
bossing-info/
cache/
customitemhovers/runelite-custom-item-hovers/
jagexcache/
jagex_cl_oldschool_LIVE
flipping/
logs/
monstermonitor/
/notifications\Familiar SFXs.lnk
outfits/
profiles/
profiles2/
random.dat
session
resource-packs-repository/
ResourceCustom/Misc/
session
SoundSwapper/
screenshots/
Sync.sh
weaponanimationreplacerdata.json