bossing-info/
cache/
jagexcache/
logs/
monstermonitor/
session
weaponanimationreplacerdata.json
resource-packs-repository/85387222286000/
resource-packs-repository/44043289836600/
profiles2/$rsprofile--1.properties
*.dat
*.dat2
sync-branches.shplugins/
sync-branches.sh
plugins/
sync-branches.sh
plugins/
sync-branches.sh
