bossing-info/
cache/
jagexcache/
logs/
monstermonitor/
session
weaponanimationreplacerdata.json
resource-packs-repository/85387222286000/
resource-packs-repository/44043289836600/
customitemhovers/runelite-custom-item-hovers/
customitemhovers/runelite-custom-item-hovers
profiles2/$rsprofile--1.properties
Sync.sh
*.dat
*.dat2